@media (min-width:320px) and (max-width:400px) {
    .container {
        width: 310px;
    }

    .nav_btn {
        display: none;
    }

    .navbar-nav {
        gap: 0 !important;
        padding-left: 120px;
    }

    .angle {
        left: 45%;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-link {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 12px;
        color: #ffffff !important;
    }

    .navbar-collapse {
        margin-top: 10px;
        background: #FF5538;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-bottom: 20px;
        transition: .4s !important;
    }

    #banner {
        padding-top: 150px;
        padding-bottom:50px;
    }

    #banner .banner_txt {
        width: 310px;
        text-align: center;
    }

    #banner .banner_txt h1 {
        width: 310px;
        font-size: 27px;

    }

    #banner .banner_txt p {
        margin-left: 23px;
        width: 250px;
        font-size: 16px;
        padding: 0;
        margin-bottom: 20px;
    }

    #banner .btn_box {
        width: 310px;
        margin: 0 auto;
        height: 50px;
    }

    #banner .btnn {
        font-size: 16px;
        padding: 9px 18px;
        border-radius: 12px;
        margin-left: 0;
        margin-right: 6px;
        transition: .1s;
    }

    #banner .btnn:hover {
        scale: 1.02;
    }

    #suggestion {
        transform: translateY(0);
        margin-top: 30px;
    }

    .sug_flx {
        flex-direction: column;
    }

    #suggestion .carrd {
        margin-bottom: 20px;
        width: 310px;
        height: auto;
        text-align: center;
        padding-left: 0;
        padding-top: 40px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .15);
        transition: .4s;
    }

    #suggestion .carrd:hover {
        scale: 1.02;
    }

    #suggestion .carrd img {
        width: 70px;
        height: 70px;
    }

    #suggestion .carrd h1 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #suggestion .carrd p {
        font-size: 16px;
        width: 250px;
        margin-bottom: 20px;
        display: inline-block;
        text-align: left;
    }

    #about .title {
        text-align: center;
        margin-top: 40px;
    }

    #about .title h3 {
        font-size: 20px;
    }

    #about .title h1 {
        font-size: 24px;
        width: 280px;
        display: inline-block;
        margin-bottom: 40px;
    }

    .lft {
        display: none;
    }

    #about .rht {
        text-align: center;
        height: auto;
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #about .rht h1 {
        font-size: 25px;
        width: 310px;
        display: inline-block;
        margin-bottom: 20px;
    }

    .lftt {
        display: block;
        margin: 0 auto;
        height: 200px;
    }

    #about .rht p {
        margin-top: 20px;
        font-size: 16px;
        width: 280px;
        display: inline-block;
        margin-bottom: 15px;
        text-align: left;
    }

    .about_btn {
        font-size: 16px;
        padding: 9px 18px;
        border-radius: 12px;
    }

    #services {
        padding-top: 40px;
        padding-bottom: 0px;
    }

    #services .title {
        text-align: center;
    }

    #services .title h1 {
        font-size: 24px;
        width: 280px;
        display: inline-block;
        margin-bottom: 40px;
    }

    #services .title .btnn {
        display: none;
    }

    #services .item1 {
        width: 300px;
        height: 260px;
        transition: all ease  .4s;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .05);
    }

    #services .item1:hover {
        scale: 1.02;
    }


    #services .bottom {
        padding-left: 10px;
        padding-top: 5px;
        width: 100% !important;
        height: 70px;
        position: absolute;
        box-shadow: 0px -9px 40px 0px rgba(26, 19, 62, 0.05);
    }

    #services .bottom h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
    }

    #services .bottom a {
        line-height: 0;
        font-size: 15px;
    }
    #services .item2 {
        width: 300px;
        height: 260px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .05);
        transition: .4s;
    }

    #services .item2:hover {
        scale:  1.02;
    }


    #services .bottom {
        padding-left: 10px;
        padding-top: 5px;
        width: 100% !important;
        height: 70px;
        position: absolute;
        box-shadow: 0px -9px 40px 0px rgba(26, 19, 62, 0.05);
    }

    #services .bottom h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
    }

    #services .bottom a {
        line-height: 0;
        font-size: 15px;
    }
}