@media (min-width:320px) and (max-width:360px) {
    .container {
        width: 310px;
    }

    .nav_btn {
        display: none;
    }

    .navbar-nav {
        gap: 0 !important;
        padding-left: 120px;
    }

    .angle {
        left: 45%;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-link {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 12px;
        color: #ffffff !important;
    }

    .navbar-collapse {
        margin-top: 10px;
        background: #FF5538;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-bottom: 20px;
        transition: .4s !important;
    }

    #banner {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    #banner .banner_txt {
        width: 310px;
        text-align: center;
    }

    #banner .banner_txt h1 {
        width: 310px;
        font-size: 27px;

    }

    #banner .banner_txt p {
        width: 310px;
        font-size: 16px;
        padding: 0;
        margin-bottom: 40px;
    }

    #banner .btn_box {
        width: 310px;
        margin: 0 auto;
        height: 50px;
    }

    #banner .btnn {
        font-size: 16px;
        padding: 9px 18px;
        border-radius: 12px;
        margin-left: 0;
        margin-right: 6px;
        transition: .1s;
    }

    #banner .btnn:hover {
        scale: 1.05;
    }

    #suggestion {
        transform: translateY(0);
        margin-top: 30px;
    }

    .sug_flx {
        flex-direction: column;
    }

    #suggestion .carrd {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 300px;
        height: auto;
        text-align: center;
        padding-left: 0;
        padding-top: 20px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .15);
        transition: .4s;
    }

    #suggestion .carrd:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #suggestion .carrd img {
        width: 65px;
        height: 65px;
    }

    #suggestion .carrd h1 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #suggestion .carrd p {
        font-size: 15px;
        width: 290px;
        margin-bottom: 20px;
        display: inline-block;
        text-align: center;
    }

    #about .title {
        text-align: center;
        margin-top: 20px;
    }

    #about .title h3 {
        font-size: 20px;
    }

    #about .title h1 {
        font-size: 22px;
        width: 276px;
        display: inline-block;
        margin-bottom: 20px;
    }

    .lft {
        display: none;
    }

    #about .rht {
        text-align: center;
        height: auto;
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #about .rht h1 {
        font-size: 20px;
        width: 310px;
        margin-bottom: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .lftt {
        display: block;
        margin: 0 auto;
        height: 200px;
    }

    .lftt img {
        display: block;
        width: 100%;
        height: 100%;
    }

    #about .rht p {
        margin-top: 20px;
        font-size: 16px;
        width: 300px;
        display: inline-block;
        margin-bottom: 15px;
        text-align: center;
    }

    .about_btn {
        font-size: 16px;
        padding: 9px 18px;
        border-radius: 12px;
    }

    .af_res {
        display: block;
    }

    #services {
        padding-top: 40px;
        padding-bottom: 0px;
    }

    #services .title {
        text-align: center;
    }

    #services .title h1 {
        font-size: 22px;
        width: 310px;
        display: inline-block;
        margin-bottom: 40px;
    }
    #services .title h3 {
        font-size: 21px;
    }
    #services .title .btnn {
        display: none;
    }

    #services .item1 {
        width: 290px;
        margin: 0 auto;
        height: 260px;
        transition: all ease .4s;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .15);
    }

    #services .item1:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #services .item1 img {
        width: 100%;
        height: calc(100% - 30%);
    }
    


    #services .bottom {
        padding-left: 15px;
        padding-top: 10px;
        width: 100% !important;
        height: 30%;
        position: absolute;
        box-shadow: 0px -9px 40px 0px rgba(26, 19, 62, 0.05);
    }

    #services .bottom h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
    }

    #services .bottom a {
        line-height: 0;
        font-size: 15px;
    }

    #services .item2 {
        width: 290px;
        margin: 0 auto;
        height: 260px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .15);
        transition: .4s;
    }

    #services .item2:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #services .item2 img {
        width: 100%;
        height: calc(100% - 30%);
    }

    .pre_res {
        display: none;
    }

    .pst_res {
        display: block;
    }

    #portfolio {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #portfolio .portfolio_rht {
        margin-left: 0px;
        text-align: center;
    }

    #portfolio .portfolio_rht h1 {
        width: auto;
        font-size: 21px;
        margin-bottom: 10px;
    }

    #portfolio .portfolio_rht h5 {
        width: auto;
        font-size: 22px;
        
    }

    #portfolio .portfolio_rht h2 {
        font-size: 16px;
    }

    #portfolio .portfolio_rht p {
        width: 310px;
        font-size: 17px;
        margin-left: 52%;
        text-align: left;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
    .por-main-flx {
        display: flex;
        justify-content: space-around;
    }

    #portfolio .portfolio_rht .rate {
        border-radius: 5px;
        width: 45%;
        height: 140px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .15);
        transition: all ease .4s;
        margin-bottom: 20px;
    }

    #portfolio .portfolio_rht .rate:hover {
        
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
        border-radius: 0px;
    }

    #trust {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .trust_flx {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #trust h1 {
        width: 310px;
        font-size: 20px;
        margin-bottom: 30px;
    }

    #trust .trust_item {
        border-radius: 5px;
        width: 45%;
        height: 110px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .15);
        transition: all ease .4s;
    }

    #trust .trust_item:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
        border-radius: 0px;
    }

    #trust .trust_item img {
        width: 105px;
    }

    #contact {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: left;
    }

    #contact h6 {
        font-size: 20px;
        text-align: left;
    }

    #contact h3 {
        font-size: 24px;
        text-align: left;
        margin-bottom: 0;
        margin-top: 0;
    }

    #contact p {
        width: 310px;
        text-align: left;
        font-size: 16px;
        margin-top: 20px;
        margin-left: 51%;
        transform: translateX(-50%);

    }

    hr {
        display: none;
    }

    .contact_btn {
        border-radius: 12px;
        padding: 9px 18px;
        font-size: 16px;
        transition: .2s;
        top: 10px;
        right: 0;
    }

    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer_flx {
        display: block;
    }

    footer .footer_lft p {
        width: 310px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    footer .rht {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 5px;
    }

    footer .rht label {
        margin-bottom: 20px;
        font-size: 27px;
    }

    footer .rht ul {
        gap: 15px;
    }
    
}

@media (min-width:360px) and (max-width:410px) {
    .container {
        width: 350px;
    }

    .nav_btn {
        display: none;
    }

    .navbar-nav {
        gap: 0 !important;
        padding-left: 120px;
    }

    .angle {
        left: 45%;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-link {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 12px;
        color: #ffffff !important;
    }

    .navbar-collapse {
        margin-top: 10px;
        background: #FF5538;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-bottom: 20px;
        transition: .4s !important;
    }

    #banner {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    #banner .banner_txt {
        width: 350px;
        text-align: center;
    }

    #banner .banner_txt h1 {
        width: 350px;
        font-size: 27px;

    }

    #banner .banner_txt p {
        width: 350px;
        font-size: 16px;
        padding: 0;
        margin-bottom: 40px;
    }

    #banner .btn_box {
        width: 350px;
        margin: 0 auto;
        height: 50px;
    }

    #banner .btnn {
        font-size: 16px;
        padding: 9px 18px;
        border-radius: 12px;
        margin-left: 0;
        margin-right: 6px;
        transition: .1s;
    }

    #banner .btnn:hover {
        scale: 1.05;
    }

    #suggestion {
        transform: translateY(0);
        margin-top: 30px;
    }

    .sug_flx {
        flex-direction: column;
    }

    #suggestion .carrd {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 330px;
        height: auto;
        text-align: center;
        padding-left: 0;
        padding-top: 40px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .15);
        transition: .4s;
    }

    #suggestion .carrd:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #suggestion .carrd img {
        width: 70px;
        height: 70px;
    }

    #suggestion .carrd h1 {
        font-size: 21px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #suggestion .carrd p {
        font-size: 15px;
        width: 330px;
        margin-bottom: 20px;
        display: inline-block;
        text-align: center;
    }

    #about .title {
        text-align: center;
        margin-top: 20px;
    }

    #about .title h3 {
        font-size: 20px;
    }

    #about .title h1 {
        font-size: 24px;
        width: 280px;
        display: inline-block;
        margin-bottom: 20px;
    }

    .lft {
        display: none;
    }

    #about .rht {
        text-align: center;
        height: auto;
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #about .rht h1 {
        font-size: 23px;
        width: 360px;
        margin-bottom: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .lftt {
        display: block;
        margin: 0 auto;
        height: 200px;
    }

    .lftt img {
        width: 100%;
        height: 100%;
        display: block;
    }

    #about .rht p {
        margin-top: 20px;
        font-size: 16px;
        width: 350px;
        display: inline-block;
        margin-bottom: 15px;
        text-align: center;
    }

    .about_btn {
        font-size: 16px;
        padding: 9px 18px;
        border-radius: 12px;
    }

    .af_res {
        display: block;
    }

    #services {
        padding-top: 40px;
        padding-bottom: 0px;
    }

    #services .title {
        text-align: center;
    }

    #services .title h1 {
        font-size: 23px;
        width: 330px;
        display: inline-block;
        margin-bottom: 40px;
    }
    #services .title h3 {
        font-size: 21px;
    }
    #services .title .btnn {
        display: none;
    }

    #services .item1 {
        width: 330px;
        margin: 0 auto;
        height: 260px;
        transition: all ease .4s;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .15);
    }

    #services .item1:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #services .item1 img {
        width: 100%;
        height: calc(100% - 30%);
    }
    


    #services .bottom {
        padding-left: 15px;
        padding-top: 10px;
        width: 100% !important;
        height: 30%;
        position: absolute;
        box-shadow: 0px -9px 40px 0px rgba(26, 19, 62, 0.05);
    }

    #services .bottom h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
    }

    #services .bottom a {
        line-height: 0;
        font-size: 15px;
    }

    #services .item2 {
        width: 330px;
        margin: 0 auto;
        height: 260px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .15);
        transition: .4s;
    }

    #services .item2 img {
        width: 100%;
        height: calc(100% - 30%);
    }


    #services .item2:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    .pre_res {
        display: none;
    }

    .pst_res {
        display: block;
    }

    #portfolio {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #portfolio .portfolio_rht {
        margin-left: 0px;
        text-align: center;
    }

    #portfolio .portfolio_rht h5 {
        width: auto;
        font-size: 25px;
    }
    #portfolio .portfolio_rht h1 {
        width: auto;
        font-size: 22px;
        margin-bottom: 10px;
    }

    #portfolio .portfolio_rht p {
        width: 350px;
        margin-left: 52%;
        text-align: left;
        transform: translateX(-50%);
    }
    .por-main-flx {
        display: flex;
        justify-content: space-around;
    }

    #portfolio .portfolio_rht .rate {
        width: 45%;
        height: 160px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .15);
        transition: all ease .4s;
    }

    #portfolio .portfolio_rht .rate:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #trust {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .trust_flx {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #trust h1 {
        width: 350px;
        font-size: 23px;
        margin-bottom: 30px;
    }

    #trust .trust_item {
        width: 45%;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .15);
        transition: all ease .4s;
    }

    #trust .trust_item:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #contact {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: left;
    }

    #contact h6 {
        font-size: 20px;
        text-align: left;
    }

    #contact h3 {
        font-size: 27px;
        text-align: left;
        margin-bottom: 0;
        margin-top: 0;
    }

    #contact p {
        width: 350px;
        text-align: left;
        font-size: 16px;
        margin-top: 20px;
        margin-left: 52%;
        transform: translateX(-50%);
    }

    hr {
        display: none;
    }

    .contact_btn {
        border-radius: 12px;
        padding: 9px 18px;
        font-size: 16px;
        transition: .2s;
        top: 10px;
        right: 0;
    }

    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer_flx {
        display: block;
    }

    footer .footer_lft p {
        width: 350px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    footer .rht {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 5px;
    }

    footer .rht label {
        margin-bottom: 20px;
        font-size: 27px;
    }

    footer .rht ul {
        gap: 15px;
    }
}

@media (min-width:410px) and (max-width:450px) {
    .container {
        width: 400px;
    }

    .nav_btn {
        display: none;
    }

    .navbar-nav {
        gap: 0 !important;
        padding-left: 120px;
    }

    .angle {
        left: 45%;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-link {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 12px;
        color: #ffffff !important;
    }

    .navbar-collapse {
        margin-top: 10px;
        background: #FF5538;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-bottom: 20px;
        transition: .4s !important;
    }

    #banner {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    #banner .banner_txt {
        width: 400px;
        text-align: center;
    }

    #banner .banner_txt h1 {
        width: 400px;
        font-size: 27px;

    }

    #banner .banner_txt p {
        margin-left: 23px;
        width: 350px;
        font-size: 16px;
        padding: 0;
        margin-bottom: 40px;
    }

    #banner .btn_box {
        width: 350px;
        margin: 0 auto;
        height: 50px;
    }

    #banner .btnn {
        font-size: 16px;
        padding: 9px 18px;
        border-radius: 12px;
        margin-left: 0;
        margin-right: 6px;
        transition: .1s;
    }

    #banner .btnn:hover {
        scale: 1.05;
    }

    #suggestion {
        transform: translateY(0);
        margin-top: 30px;
    }

    .sug_flx {
        flex-direction: column;
    }

    #suggestion .carrd {
        margin-bottom: 20px;
        width: 400px;
        height: auto;
        text-align: center;
        padding-left: 0;
        padding-top: 40px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .15);
        transition: .4s;
    }

    #suggestion .carrd:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #suggestion .carrd img {
        width: 75px;
        height: 75px;
    }

    #suggestion .carrd h1 {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #suggestion .carrd p {
        font-size: 17px;
        width: 350px;
        margin-bottom: 20px;
        display: inline-block;
        text-align: center;
    }

    #about .title {
        text-align: center;
        margin-top: 20px;
    }

    #about .title h3 {
        font-size: 20px;
    }

    #about .title h1 {
        font-size: 24px;
        width: 280px;
        display: inline-block;
        margin-bottom: 20px;
    }

    .lft {
        display: none;
    }

    #about .rht {
        text-align: center;
        height: auto;
        width: 100%;
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #about .rht h1 {
        font-size: 23px;
        width: 360px;
        margin-bottom: 20px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .lftt {
        display: block;
        margin: 0 auto;
        height: 200px;
    }

    .lftt img {
        display: block;
        width: 100%;
        height: 100%;
    }

    #about .rht p {
        margin-top: 20px;
        font-size: 16px;
        width: 350px;
        display: inline-block;
        margin-bottom: 15px;
        text-align: center;
    }

    .about_btn {
        font-size: 16px;
        padding: 9px 18px;
        border-radius: 12px;
    }

    .af_res {
        display: block;
    }

    #services {
        padding-top: 40px;
        padding-bottom: 0px;
    }

    #services .title {
        text-align: center;
    }

    #services .title h1 {
        font-size: 23px;
        width: 330px;
        display: inline-block;
        margin-bottom: 40px;
    }
    #services .title h3 {
        font-size: 21px;
    }
    #services .title .btnn {
        display: none;
    }

    #services .item1 {
        width: 380px;
        margin: 0 auto;
        height: 260px;
        transition: all ease .4s;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .15);
    }

    #services .item1:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #services .item1 img {
        width: 100%;
        height: calc(100% - 30%);
    }
    


    #services .bottom {
        padding-left: 15px;
        padding-top: 10px;
        width: 100% !important;
        height: 30%;
        position: absolute;
        box-shadow: 0px -9px 40px 0px rgba(26, 19, 62, 0.05);
    }

    #services .bottom h4 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
    }

    #services .bottom a {
        line-height: 0;
        font-size: 15px;
    }

    #services .item2 {
        width: 380px;
        margin: 0 auto;
        height: 260px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, .15);
        transition: .4s;
    }

    #services .item2 img {
        width: 100%;
        height: calc(100% - 30%);
    }


    #services .item2:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    .pre_res {
        display: none;
    }

    .pst_res {
        display: block;
    }

    #portfolio {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #portfolio .portfolio_rht {
        margin-left: 0px;
        text-align: center;
    }

    #portfolio .portfolio_rht h5 {
        width: auto;
        font-size: 25px;
    }
    #portfolio .portfolio_rht h1 {
        width: auto;
        font-size: 22px;
        margin-bottom: 10px;
    }

    #portfolio .portfolio_rht p {
        width: 375px;
        margin-left: 52%;
        text-align: left;
        transform: translateX(-50%);
    }
    .por-main-flx {
        display: flex;
        justify-content: space-around;
    }

    #portfolio .portfolio_rht .rate {
        width: 45%;
        height: 160px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .15);
        transition: all ease .4s;
    }

    #portfolio .portfolio_rht .rate:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #trust {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .trust_flx {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #trust h1 {
        width: 400px;
        font-size: 23px;
        margin-bottom: 30px;
    }

    #trust .trust_item {
        width: 45%;
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .15);
        transition: all ease .4s;
    }

    #trust .trust_item:hover {
        scale: 1.05;
        box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, .25);
    }

    #contact {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: left;
    }

    #contact h6 {
        font-size: 20px;
        text-align: left;
    }

    #contact h3 {
        font-size: 27px;
        text-align: left;
        margin-bottom: 0;
        margin-top: 0;
    }

    #contact p {
        width: 398px;
        text-align: left;
        font-size: 16px;
        margin-top: 20px;
        margin-left: 52%;
        transform: translateX(-50%);
    }

    hr {
        display: none;
    }

    .contact_btn {
        border-radius: 12px;
        padding: 9px 18px;
        font-size: 16px;
        transition: .2s;
        top: 10px;
        right: 0;
    }

    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer_flx {
        display: block;
    }

    footer .footer_lft p {
        width: 390px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    footer .rht {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-left: 5px;
    }

    footer .rht label {
        margin-bottom: 20px;
        font-size: 27px;
    }

    footer .rht ul {
        gap: 15px;
    }
}