* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}

/* common css start */
.container {
    max-width: 1410px !important;
    margin: 0 auto;
    padding: 0 0 !important;
    position: relative;
}

.btnn {
    border: 1px solid #FF5538;
    border-radius: 18px;
    background: #FF5538;
    color: #FFF;
    padding: 14px 28px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 200%;
    text-transform: capitalize;
    cursor: pointer;
    transition: .4s;
}

.btnn:hover {
    background: transparent;
    color: #FF5538;
    scale: 1.01;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h3 {
    color: #FF5538;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 28px */
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
}

.title h1 {
    width: 449px;
    color: #29313D;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

/* common css end */

/* header start */


.item_box {
    position: relative;
}

.angle {
    position: absolute;
    right: -25px;
    top: 70%;
    transform: translateY(-70%);
}

.navbar {
    width: 100%;
    z-index: 999 !important;
    position: absolute;
    margin-top: 30px;

}

.nav-link {
    padding: 0 !important;
    color: #29313D !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 19px;
}

.navbar-nav {
    gap: 74px !important;
}

.dropdown-toggle::after {
    display: none;
}

/* header ends */

/* banner start */
#banner {
    padding-top: 293px;
    padding-bottom: 297px;
    background: #FBF3F0;
}

#banner .banner_txt {
    width: 771px;
    margin: 0 auto;
    text-align: center;

}

#banner .banner_txt h1 {
    color: #29313D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    text-transform: capitalize;
    margin-bottom: 24px;
    width: 771px;
}

#banner .banner_txt p {
    width: 771px;
    padding: 0px 100px;
    color: #29313D;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    text-transform: capitalize;
    margin-bottom: 44px;

}

#banner .btnn {
    margin-left: 24px;
}

/* banner ends */

/* suggestion start */
#suggestion {
    transform: translateY(-50%);
}

#suggestion .sug_flx {
    display: flex;
    justify-content: space-between;
}

#suggestion .carrd {
    width: 450px;
    height: 327px;
    background: #ffffff;
    padding-top: 40px;
    padding-left: 30px;
    box-shadow: 0px 44px 40px 0px rgba(0, 0, 0, 0.03);
    transition: .4s;

}

#suggestion .carrd:hover {
    scale: 1.02;
    box-shadow: 0px 44px 40px 0px rgba(0, 0, 0, 0.15);
}

.carrd h1 {
    color: #29313D;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: capitalize;
    margin-top: 34px;

    margin-bottom: 16px;
}



.carrd p {
    width: 394px;
    color: #29313D;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

    line-height: 200%;
    text-transform: capitalize;
}

/* suggestion ends */

/* about start */

#about {
    position: relative;

}

#about .lft {
    position: absolute;
    top: 230px;
    left: -200px;
    height: 521px;
    background: #C4C4C4;
    z-index: 1;
}

#about .lft img {
    width: 100%;
    height: 100%;
}

.lftt {
    width: 300px;
    height: 300px;
    display: none;
    background: #C4C4C4;
}

.lftt {

    display: none;
}



#about .rht {
    margin-left: auto;
    height: 626px;
    width: 50%;
    background: #FBF3F0;
    padding-top: 102px;
    padding-left: 100px;
}

.rht_bg {
    background: #FBF3F0;
}


#about .rht h1 {
    width: 570px;
    color: #29313D;

    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 20px;
}

#about .rht p {
    width: 501px;
    color: #29313D;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    text-transform: capitalize;
    margin-bottom: 62px;
}

.af_res {
    display: none;
}

.bef_res {
    display: block;
}


/* about ends */

/* service start */

#services {
    padding-top: 171px;
    padding-bottom: 120px;
}

#services .title {
    position: relative;
}

#services .title h3 {
    margin-bottom: 10px;
}

#services .title h1 {
    width: 700px;
    margin-bottom: 60px;
}

#services .title .btnn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#services .item1 {
    width: 575px;
    height: 458px;
    background: #C4C4C4;
    margin-bottom: 30px;
    position: relative;
    transition: .4s;
}

#services .item1:hover {
    scale: 1.01;
    box-shadow: 0px 44px 40px 0px rgba(0, 0, 0, 0.15);

}

#services .item1 img {
    width: 100%;
    height: calc(100% - 127px);
}

#services .bottom {
    padding-left: 30px;
    padding-top: 30px;
    width: 575px;
    height: 127px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0px -9px 40px 0px rgba(26, 19, 62, 0.06);
}

#services .bottom h4 {
    color: #29313D;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

#services .bottom a {
    color: #FF5538;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: capitalize;
    text-decoration: none;
}


#services .item2 {
    width: 810px;
    height: 458px;
    background: #C4C4C4;
    position: relative;
    transition: .4s;
}

#services .item2 img {
    width: 100%;
    height: calc(100% - 127px);
}


#services .item2:hover {
    scale: 1.01;
    box-shadow: 0px 44px 40px 0px rgba(0, 0, 0, 0.15);

}

#services .item2 .bottom {
    width: 810px;
}

/* service ends */

/* portfolio start */

#portfolio {
    background: #FDF9F8;
    padding-top: 120px;
    padding-bottom: 120px;
}


#portfolio .rate {
    background: #ffffff;
    width: 259px;
    height: 230px;
    margin-bottom: 30px;
    transition: .4s;
}

#portfolio .rate:hover {
    scale: 1;
    box-shadow: 0px 44px 40px 0px rgba(0, 0, 0, 0.15);
}

.rate_flx {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

#portfolio .rate h1 {
    color: #29313D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

#portfolio .rate h2 {
    color: #29313D;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: capitalize;
}

#portfolio .portfolio_rht {
    margin-left: 100px;
}

#portfolio .portfolio_rht h5 {
    width: 570px;
    color: #29313D;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 20px;
}

#portfolio .portfolio_rht h1 {
    width: 570px;
    color: #29313D;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 20px;
}

#portfolio .portfolio_rht p {
    width: 550px;
    color: #29313D;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.pst_res {
    display: none;
}

/* portfolio ends */

/* trust start */
#trust {
    padding-top: 120px;
    padding-bottom: 120px;
}

.trust_flx {
    display: flex;
    justify-content: space-between;

}


#trust h1 {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 849px;
    color: #29313D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 60px;
}

#trust .trust_item {
    width: 210px;
    height: 130px;
    background: #FDF9F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

#trust .trust_item:hover {
    scale: 1;
    box-shadow: 0px 44px 40px 0px rgba(0, 0, 0, 0.15);
}

/* trust ends */

/* review start */
#review {
    padding-top: 139px;
    padding-bottom: 120px;
    position: relative;
    background: #FDF9F8;
}

.rev_flx {
    display: flex;
}

#review h1 {
    color: #29313D;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.rev_lft {
    margin-right: 212px;
}

#review .face {
    display: flex;
    gap: 28px;
    margin: 60px 0px;
}

#review .face .item {
    width: 100px;
    height: 100px;
    background: #C4C4C4;
    border-radius: 20px;
}

#review .face .item img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#review p {
    width: 690px;
    color: #29313D;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 36px */
    text-transform: capitalize;
    opacity: 0.8;
    margin-bottom: 60px;
}

#review h4 {
    color: #29313D;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 180%;
    /* 64.8px */
    text-transform: capitalize;
}

#review .rev_rht {
    width: 501px;
    height: 557px;
    background: #C4C4C4;
    border-radius: 30px;
}

#review .rev_rht img {
width: 100%;
height: 100%;
border-radius: 30px;

}

.sld_btn {
    opacity: 1 !important;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 455px;
    left: 201px;
}
.sld_btn_rht {
    opacity: 1 !important;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 455px;
    left: 289px;
}


/* review ends */

/* contact start */
#contact {
    background: #FFD7C8;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

#contact h6 {
    color: #29313D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
    text-align: left;
}

#contact h3 {
    color: #29313D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin-top: 7px;
    margin-bottom: 48px;
    text-align: left;
}

.contact_btn {
    position: absolute;
    right: 0;
    top: 19px;
}

#contact p {
    margin-top: 24px;
    color: #29313D;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 36px */
    text-transform: capitalize;
    width: 1250px;
}

/* contact ends */

/* footer start */
footer {
    padding-top: 140px;
    padding-bottom: 57px;
}

.footer_flx {
    display: flex;
}

footer .footer_lft {
    margin-right: 212px;
}

footer .footer_lft p {
    width: 449px;
    color: #29313D;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    text-transform: capitalize;
    opacity: 0.9;
    margin-top: 44px;
}

footer .rht {
    display: flex;
    gap: 160px;
}

footer .rht label {
    color: #29313D;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
    margin-bottom: 48px;
}

footer .rht ul {
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .rht ul a {
    color: #29313D;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-decoration: none;
    text-transform: capitalize;
}

/* footer ends */